<div class="row-container hero">
    <div class="row">

        <div class="hero-text-bg">
            <h1> inkmanship </h1>
            <p>Find your inspiration</p>
        </div>
    </div>
</div>

<div class="row-container results">
    <div class="row">
        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>

        <div class="image-result">
            <img src="http://placehold.it/250x250" alt="placeholder">
        </div>
    </div>
</div>